<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Blogs</title>
    {% extends 'portfolio/base.html' %}
</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="custom.css">

    <div class="container" style="height:130px;">
        <div class="col mt-5 pt-3">
            <div>
                <h2 style="text-align: center;">Ebert has written {{ blogposts.count }} blog{{ blogposts.count|pluralize }}</h2>
            </div>
        </div>
    </div>
    {% for blogpost in blogposts %}
        <div class="row justify-content-center my-3">
            <div class="col-md-10">
                <a href="{% url 'blog:detail' blogpost.id %}"> <!-- blog:detail = this blog is the name of our app defined in blog/urls.py by variable app_name -->
                    <h2>{{ blogpost.title }}</h2>
                </a>
                <h5>{{ blogpost.date|date:'M d Y'|upper }}</h5> <!-- django date formats -->
                <h4>{{ blogpost.description|striptags|truncatechars:100 }}</h4> <!-- truncatechars: show a preview -->
            </div>
        </div>
    {% endfor %}
    {% endblock %}
</body>
</html>