<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends 'portfolio/base.html' %}
</head>
<body>
    {% block content %}
    <div class="container" style="height:130px;">
        <div class="col mt-5 pt-3">
            <h2 style="text-align: center;">{{ blog.title }}</h2>
            <h5 style="text-align: center;">--{{ blog.date|date:'F jS Y' }}--</h5>
            <p>{{ blog.description|safe }}</p>
            <br>
            <br>
            <a href="{% url 'blog:all_blogs' %}">Back</a>
            <br>
            <a href="{% url 'home' %}">Home</a>
        </div>
    </div>
    {% endblock %}
</body>
</html>