<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PW Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <h1>Your password is:</h1>
        <h2 class="alert alert-success" id="password">{{ password }}</h2>
        <button class='btn btn-success' onclick="copyToClipboard()">Copy Password</button>
        <br>
        <br>
        <a href="{% url 'pwgenerator:home' %}" class="btn btn-warning">New Password</a>
        <br>
        <br>
        <a href="{% url 'home' %}" class="btn btn-info">Back to Portfolio</a>
    </div>
</body>
<script>
    function copyToClipboard(){
        var copyText = document.getElementById("password").innerText;
        var elem = document.createElement("textarea");
        document.body.appendChild(elem);
        elem.value = copyText;
        elem.select();

        document.execCommand("copy");
        document.body.removeChild(elem);
        alert("Password copied to clipboard: " + elem.value);
    }
</script>
</html>